:root {
    --tilesWidth: 30;
}

html {
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
    background-color: black;
    color: #CCC;
}

.headerContainer {
    width: 100%;
    position: fixed;
    offset: 0 -1rem;
    padding: 0;
    margin: 0;
    background-color: black;
}

.headerData {
    padding: 0;
    margin: 0;
}

.mine-row {
    /*width: var(--tilesWidth);
    min-width: 100%; */
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
}

p, .tile {
    font-family: monospace; 
    font-size: 21px; 
    font-style: normal; 
    font-variant: normal;
}

.tile {
    width: 30px;
    min-width: 30px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 0%;
    text-align: center;
}

.mine {
    color: #000;
    background-color: #833;
}

.covered {
    background-color: #000;
    color: #000;
}
.covered::selection {
    color: #000;
} 
.covered:hover {
    background-color: #883333;
    color: #883333;
}
.covered:hover::selection {
    color: #883333;
} 


.uncovered {
    background-color: #333;
    color: #CCC;
}
.no-mines {
    color: #333;
}

.flagged {
    color: #383;
    background-color: #383;
}
.flagged:hover {
    color: #383; 
    background-color: #383;
}