:root {
    --tilesWidth: 30;
}

html {
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
}

.mine-row {
    width: var(--tilesWidth);
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

p, .tile {
    font-family: monospace; 
    font-size: 21px; 
    font-style: normal; 
    font-variant: normal;
}

.tile {
    width: 30px;
    min-width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 0%;
    text-align: center;
}

.mine {
    color: white;
    background-color: #C33;
}

.covered {
    background-color: #CCC;
    color: #CCC;
}
.covered::selection {
    color: #CCC;
} 
.covered:hover {
    background-color: #cc8888;
    color: #cc8888;
}
.covered:hover::selection {
    color: #cc8888;
} 

.uncovered {
    background-color: white;
    color: #000;
}
.no-mines {
    color: white;
}

.flagged {
    color: #3C3;
    background-color: #3C3;
}
.flagged:hover {
    color: #3C3;
    background-color: #3C3;
}